.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-content-width);
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(110px, 100%), 1fr));
  gap: var(--margin-small);
  justify-items: center;
  margin-top: calc(var(--margin-large) - var(--margin-small));
  margin-bottom: var(--margin-small);
}

.form {
  width: 100%;
}

.form > button {
  background: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--dark-gray);
  background-color: white;
}

.form > button >img {
  margin: 0;
  width: 100%;
  height: auto;
}