.card {
  position: relative;
  background-size: cover;
  text-decoration: none;
  margin-top: var(--margin-small);
}

.cardFrontCard {
  transform: translate(
    calc(var(--margin-small) / 2),
    calc(-1 * var(--margin-small) / 2)
  );
  transition: 0.25s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.25s ease-in-out;
  transform: translate(
    calc(-1 * var(--margin-small) / 2),
    calc(var(--margin-small) / 2)
  );
  background-color: var(--koppargron);
}

.card:hover > .cardBackground {
  transform: translate(calc(-1 * var(--margin-small)), var(--margin-small));
}

.card:hover > .cardFrontCard {
  transform: translate(var(--margin-small), calc(-1 * var(--margin-small)));
}
