.container {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    padding: 0 var(--margin-small);
}

.container h2 {
    width: 100%;
    max-width: var(--max-content-width);
    margin-bottom: var(--margin-medium);
    align-self: center;
}

.container fieldset {
    text-align: center;
}

.container ul {
    list-style: none;
    margin-left: 0;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
}

.container ul li {
    display: inline;
    padding-left: 0;
    text-align: center;
}