.container {
  width: 100%;
  max-width: var(--max-width);
  overflow: scroll;
  scrollbar-width: none;
  padding-left: var(--margin-small);
  padding-right: var(--margin-small);
  display: grid;
  grid-auto-flow: column;
  gap: var(--margin-medium);
  margin-bottom: var(--margin-large);
  scroll-snap-type: x mandatory;
}

.container::-webkit-scrollbar {
  display: none;
}

.quote {
  width: 296px;
  background-color: var(--dark-gray);
  scroll-snap-align: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  border-radius: 16px;
  margin: 0;
}

.authorImage {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin: 0;
}

.quoteText {
  flex: 1;
  color: white;
  font-weight: normal;
  position: relative;
  padding: var(--margin-small) var(--margin-medium) var(--margin-small) var(--margin-medium);
  margin: 0;
}

.quoteText::before {
  content: "”";
}

.quoteText::after {
  content: "”";
}

.author {
  position: relative;
  color: white;
  font-weight: 900;
  padding: 0 var(--margin-medium) var(--margin-small) var(--margin-medium);
}
