.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: var(--margin-large);
  margin-bottom: var(--margin-large);
}

.darkGray {
  background-color: var(--dark-gray);
}

.koppargron {
  background-color: var(--koppargron);
}

.quote {
  width: 100%;
  max-width: var(--max-content-width);
  color: var(--vit);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: var(--margin-small);
  padding-right: var(--margin-small);
  position: relative;
}

@media (min-width: 1024px) {
  .quote {
    flex-direction: row;
    justify-content: center;
    max-width: var(--max-width);
  }

  .quote > img {
    margin-right: var(--margin-large);
    margin-bottom: 0;
  }

  .quote > p {
    margin-right: calc(var(--margin-large));
  }
}

.quote > img {
  width: var(--card-size);
  height: var(--card-size);
  object-fit: cover;
  border-radius: 16px;
}

.quoteTextAndAuthor {
  max-width: var(--max-content-width);
  padding-left: var(--margin-small);
  padding-right: var(--margin-small);
}

.quoteText {
  flex: 1;
  position: relative;
  font-weight: 400;
  line-height: 2;
  text-align: left;
  z-index: 1;
}

.quoteText::before {
  content: "”";
}

.quoteText::after {
  content: "”";
}

.author {
  position: relative;
  font-weight: 900;
}
