.event-page-background {
  background: #ffffe8;
  margin: 1.5rem auto;
  min-height: 92vh;
  max-width: 65vw;
  padding: 15px;
}

/* TODO: Change these px values to something relative */
.event-page-title {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--darkblue);
  text-align: center;
}

.event-page-content {
  margin-top: 3rem;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 26px;
  width: 75%;
}

.home-link {
  align-self: start;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  white-space: nowrap;
}

.home-link::before,
.home-link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.home-link::before {
  content: '';
  /* show by default */
}

.home-link-text::before {
  transform-origin: 50% 100%;
  transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  clip-path: polygon(
    0% 0%,
    0% 100%,
    0 100%,
    0 0,
    100% 0,
    100% 100%,
    0 100%,
    0 100%,
    100% 100%,
    100% 0%
  );
}

.home-link-text:hover::before {
  transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
  clip-path: polygon(
    0% 0%,
    0% 100%,
    50% 100%,
    50% 0,
    50% 0,
    50% 100%,
    50% 100%,
    0 100%,
    100% 100%,
    100% 0%
  );
}

.home-link-text span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

.home-link-text:hover span {
  transform: translate3d(0, -2px, 0);
}

.event-page-image {
    max-width: 100%;
}

@media screen and (max-width: 992px) {
    .event-page-background {
        max-width: 80vw;
    }
}

@media screen and (max-width: 768px) {
    .event-page-background {
        max-width: 95vw;
    }
}
