.fundraising-parent {
  margin-top: 3rem;
}

.fundraising-logo {
  max-width: 400px;
}

.fundraising-link {
  font-size: 14px !important;
  color: var(--gold) !important;
}

.fundraising-img-parent {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
  width: 100%;
  max-width: none;
  place-items: center;
  height: 400px;
  margin-bottom: 5rem;
}

.fundraising-img {
  position: absolute;
  height: 400px;
  width: 100%;
  max-width: none;
  margin-top: 8rem;
  grid-column: 1;
  grid-row: 1;
}

.fundraising-text {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  margin: 1rem;
}

@media screen and (max-width: 768px) {
  .fundraising-links-parent {
    flex-direction: column;
  }
}
