@font-face {
  font-family: 'Montserrat';
  font-style: auto;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat'),
    url('/fonts/montserrat/Montserrat-Bold.ttf') format('woff2');
}

.fundraising-parent {
  margin-top: 3rem;
}

.fundraising-logo {
  max-width: 400px;
}

.fundraising-text {
  color: #fff;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  margin: 1rem;
}

.fundraising-link {
    font-size: 14px !important;
    color: var(--gold) !important;
}

@media screen and (max-width: 768px) {
  .fundraising-links-parent {
    flex-direction: column;
  }
}

