@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Raleway"),
    url("fonts/raleway/Raleway-VariableFont_wght.ttf") format("woff2");
}

@font-face {
  font-family: "Raleway_Italic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Raleway_Italic"),
    url("fonts/raleway/Raleway-Italic-VariableFont_wght.ttf") format("woff2");
}

:root {
  --gold: #f1e792;
  --darkblue: #001627;
  --creamwhite: #ffffe8;
  --teknologröd: #b20738;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Raleway sans-serif;
  background-color: var(--gold);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
