
.logo {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}


/* This works as expected for x-axis, but y-axis is messed up */
.timeline {
    margin-top: 5rem;
}

/* TODO: Change these px values to something relative */
.vertical-line {
    top: 5px;
    margin: 3rem .3rem;
    width: 0;
    height: 33px;
    border-left: 1.5px solid var(--gold);
}

/* TODO: Change these px values to something relative */
.vertical-line:hover {
    transform: scaleY(1.5);
}

.vertical-line-long {
    margin: 0.2rem;
    width: 0;
    height: 127px;
    border-left: 2px solid var(--creamwhite);
}

.card-title {
    color: var(--creamwhite);
}

.event-box-parent {
    position: relative;
}

/* TODO: Change these px values to something relative */
.event-box {
    width: 224px;
    height: 217px;
    background: var(--creamwhite);
    margin-top: 1rem;
    position: absolute;
    left: -112px;
}

/* TODO: Change these px values to something relative */
.event-box-title {
    width: 189px;

    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    margin-top: 9px;
    margin-bottom: 9px;

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    /* Jubbeblå */

    color: var(--darkblue);
}

/* TODO: Change these px values to something relative */
.event-box-horizontal-line {
    width: 224px;
    margin: 0;
    border: 1px solid var(--darkblue);
}

/* TODO: Change these px values to something relative */
.event-box-text {
    width: 189px;
    height: 115px;

    /* Brödtext */
    margin-top: 18px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;

    line-height: 18px;
    letter-spacing: 0.02em;
    color: #000000;
}

/* TODO: Change these px values to something relative */
.event-box-link {
    width: 189px;
    height: 11px;
    margin: 0;

    font-weight: 800;
    font-size: 14px;
    line-height: 18px;

    text-align: center;
    letter-spacing: 0.02em;

    color: #000000;
}

/* TODO: Change these px values to something relative */
.event-box-link:hover {
    font-weight: 600;
    font-size: 15px;
}
