.main-body {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--darkblue);
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* This works as expected for x-axis, but y-axis is messed up */
.timeline {
  width: 100vw;
  margin-top: 1rem;
}

/* TODO: Change these px values to something relative */
.vertical-line {
  top: 5px;
  margin: 3rem 0;
  padding: 5px;
  width: 1.5px;
  height: 33px;
  border-left: 1.5px solid var(--gold);
}

.vertical-line-long {
  margin: 0.2rem 0;
  padding: 5px;
  width: 0;
  height: 127px;
  border-left: 2px solid var(--creamwhite);
}

/* TODO: Change these px values to something relative */
.dot-false {
  height: 0.95rem;
  width: 0.95rem;
  border-radius: 50%;
  display: inline-block;
  margin-top: 0.5rem;
  position: relative;
  left: -5px;
}
.dot-true {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  display: inline-block;
  margin-top: 0.5rem;
  position: relative;
  left: -5px;
}

.blogpost {
  background-color: var(--blogpink);
}

.event {
  background-color: var(--eventblue);
}

.card-title {
  color: var(--creamwhite);
}

.eventline-dates {
  color: var(--creamwhite);
  text-align: center;
  position: relative;
  left: -5px;
  font-family: Raleway, serif;
  font-weight: 800;
}

.hide-scrollbars {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.hide-scrollbars::-webkit-scrollbar {
  display: none;
}

.ball-row {
  justify-content: space-evenly !important;
  width: 5rem;
}
