@font-face {
  font-family: 'Montserrat';
  font-style: auto;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat'),
    url('/fonts/montserrat/Montserrat-Bold.ttf') format('woff2');
}

.info-text {
  align-items: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 1rem;
}
.info-parent {
  position: absolute;
  left: 50%;
  bottom: 0px;
}
.cont {
  position: relative;
  left: -50%;
}
