@font-face {
  font-family: 'Montserrat';
  font-style: auto;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat'),
    url('/fonts/montserrat/Montserrat-Bold.ttf') format('woff2');
}

.navbar {
  align-items: center;
  justify-content: space-evenly !important;
}

.navbar-mobile {
  align-items: center;
  justify-content: start !important;
}

.logos-mobile {
  width: 50%;
  align-items: center;
  justify-content: space-around !important;
}
