.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 90vw;
  min-height: 100vh;
  z-index: 10;
  background-color: var(--darkblue);
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
  padding: 4rem 2rem;
  transition: 0.4s;
  overflow-x: hidden;
}

.side-menu * {
  margin-bottom: 0.5rem;
}

.side-menu-icons {
  min-height: 20px;
  justify-content: space-around;
}

.side-menu-languages {
  justify-content: space-around;
  margin-top: 1rem;
}

.side-menu-icon-text {
  margin: 0;
}

.navbar {
  padding-top: 0.5rem;
  align-items: center;
  justify-content: space-evenly !important;
}

.navbar-mobile {
  position: absolute;
  align-items: center;
  justify-content: start !important;
}

.navbar-logo {
  margin-bottom: 5px;
}

.logos-mobile {
  width: 50%;
  align-items: center;
  justify-content: space-around !important;
}

.main-logo {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 450px;
  height: 450px;
}

#logo-utan-text {
  width: 100%;
  height: 100%;
}

#logo-bara-text {
  position: absolute;
  width: 50%;
  height: 20%;
  top: 43%;
}

.separator {
  color: #fff;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .main-logo {
    width: 250px;
    height: 250px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-icon {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    display: none;
  }

  .navbar-side {
    flex-direction: column;
  }

  #tf-logo-small {
    display: none;
  }
}
