@font-face {
  font-family: 'Montserrat';
  font-style: auto;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat'),
    url('/fonts/montserrat/Montserrat-Bold.ttf') format('woff2');
}

.navbar {
  align-items: center;
  justify-content: space-evenly !important;
}

.navbar-mobile {
  align-items: center;
  justify-content: start !important;
}

.link {
  cursor: pointer;
  font-size: 18px;
  position: relative;
  white-space: nowrap;
}
.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: '';
  /* show by default */
}

.link-text {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.link-text::before {
  transform-origin: 50% 100%;
  transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  clip-path: polygon(
    0% 0%,
    0% 100%,
    0 100%,
    0 0,
    100% 0,
    100% 100%,
    0 100%,
    0 100%,
    100% 100%,
    100% 0%
  );
}

.link-text:hover::before {
  transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
  clip-path: polygon(
    0% 0%,
    0% 100%,
    50% 100%,
    50% 0,
    50% 0,
    50% 100%,
    50% 100%,
    0 100%,
    100% 100%,
    100% 0%
  );
}

.link-text span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

.link-text:hover span {
  transform: translate3d(0, -2px, 0);
}
