@font-face {
  font-family: 'Montserrat';
  font-style: auto;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat'),
    url('/fonts/montserrat/Montserrat-Bold.ttf') format('woff2');
}

.navbar {
  align-items: center;
  justify-content: space-evenly !important;
}

.navbar-mobile {
  position: absolute;
  align-items: center;
  justify-content: start !important;
}

.logos-mobile {
  width: 50%;
  align-items: center;
  justify-content: space-around !important;
}

.main-logo {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 450px;
    height: 450px;
}

#logo-utan-text {
    width: 100%;
    height: 100%;
}

#logo-bara-text {
    position: absolute;
    width: 50%;
    height: 20%;
    top: 43%;
}

@media screen and (max-width: 768px) {
    .main-logo {
        width: 250px;
        height: 250px;
    }
}
